/*
###########################################################################
#   Author: Ellie Andrews
#   Contributors: Oliver Fitzerald
#
#   The author has written all code in this file unless stated otherwise.
###########################################################################
*/

body {
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
    background-color: #83d6d1;
    padding-top: 60px; /* Adjust according to the height of navbar */
    color: #fff;
}

header {
    background-color: #6bbdb8;
    padding: 10px 0;
    text-align: center;
}

h1 {
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h2 {
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 24px;
}

p {
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-left: 10%;
    padding-right: 10%;
}

.privacy_li{
    color: #fff;
    font-weight: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #fff;
}

nav ul li {
    display: inline;
    margin-right: 20px;
    color: #fff;
    font-weight: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

nav ul li a {
    color: #fff !important;
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:hover{
    color: #d8d8d8 !important;
    background-color: #4a9f9b;
    text-decoration: none;
}

.responsive-image-left {
    width: 15vw;
    height: auto;
    display: block;
    float:left;
    margin-left:5vw;
}

.responsive-image {
    width: 15vw;
    height: auto;
    display: block;
}

.responsive-image-right {
    width: 15vw;
    height: auto;
    display: block;
    float: right;
    margin-right:5vw;
}

.hero {
    text-align: center;
    margin-top: 50px;
}

.hero h1 {
    font-size: 36px;
    color: #333;
}

.buttons {
    margin-top: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.login-btn{
    display: inline-block;
    padding: 10px 20px;
    background-color: #6bbdb8;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 16px;
    font-weight: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.login-btn:hover{
    background-color: #4a9f9b;
    color: #dddddd;
    text-decoration: none;

}

.label-left{
    text-align: left;
    display: block;
}


.friend {
    font-weight: bold;
    margin-bottom: 10px;
    padding: 5px;
    border: 2px solid #6bbdb8;
    border-radius: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
}

.accept-btn{
    display: inline-block;
    background-color: #55c279;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.decline-btn{
    display: inline-block;
    background-color: #c35a5a;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.small-btn{
    display: inline-block;
    background-color: #6bbdb8;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.loginpage-btn{
    background-color:#3d9491;
    font-weight: bold;
    border: none;
}

.loginpage-btn:hover{
    background-color:#27706e;
    font-weight: bold;
    border: none;
}

.speech-bubble-container {
    position: relative;
    width: 300px; /* Adjust width as needed */
    height: auto; /* Adjust height as needed */
    margin: 0px; /* Adjust margin as needed */
}

.speech-bubble {
    display: block !important;
    max-width: 100%;
    height: auto;
}

.text-on-speech-bubble {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    font-weight: bold;
    color: #000;
    text-align: center;
    /* Add more styling as needed */
}


/* added by Oliver Fitzgerald */
.centered-container {
    resize: vertical;
    height: 50vh;
    aspect-ratio: 1/1;
    position: relative;
    /*border: 2px solid #333; */
    box-sizing: border-box;
    /* Include border in total width and height */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.absolute-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Maintain image aspect ratio while covering the container */
}

.outer-buddy-containter{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*end of Ollie Fitzgerald*/

.task-style{
    background-color: #6bbdb8 !important;
    border: 3px solid #27706e !important;
}