/*Css file written by Ellie, excluding lines stating otherwise*/

body {
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
    background-color: #83d6d1;
    padding-top: 60px; /* Adjust according to the height of navbar */
    color: #fff;
}

header {
    background-color: #6bbdb8;
    padding: 10px 0;
    text-align: center;
}

h1 {
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h2 {
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 24px;
}

p {
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-left: 10%;
    padding-right: 10%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #fff;
}

nav ul li {
    display: inline;
    margin-right: 20px;
    color: #fff;
    font-weight: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

nav ul li a {
    color: #fff !important;
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:hover{
    color: #d8d8d8 !important;
    background-color: #4a9f9b;
    text-decoration: none;
}

.responsive-image-left {
    width: 15vw;
    height: auto;
    display: block;
    float:left;
    margin-left:5vw;
}

.responsive-image {
    width: 15vw;
    height: auto;
    display: block;
}

.responsive-image-right {
    width: 15vw;
    height: auto;
    display: block;
    float: right;
    margin-right:5vw;
}

.hero {
    text-align: center;
    margin-top: 50px;
}

.hero h1 {
    font-size: 36px;
    color: #333;
}

.buttons {
    margin-top: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.login-btn{
    display: inline-block;
    padding: 10px 20px;
    background-color: #6bbdb8;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 16px;
    font-weight: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.login-btn:hover{
    background-color: #4a9f9b;
    color: #dddddd;
    text-decoration: none;

}

.label-left{
    text-align: left;
    display: block;
}


.friend {
    font-weight: bold;
    margin-bottom: 10px;
    padding: 5px;
    border: 2px solid #6bbdb8;
    border-radius: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
}

.accept-btn{
    display: inline-block;
    background-color: #55c279;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.decline-btn{
    display: inline-block;
    background-color: #c35a5a;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.small-btn{
    display: inline-block;
    background-color: #6bbdb8;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}