body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #83d6d1;
    padding-top: 60px; /* Adjust according to the height of navbar */
}

body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header {
    background-color: #6bbdb8;
    padding: 10px 0;
    text-align: center;
}

h1 {
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #fff;
}

nav ul li {
    display: inline;
    margin-right: 20px;
    color: #fff;
    font-weight: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

nav ul li a {
    color: #fff !important;
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:hover{
    color: #d8d8d8 !important;
    background-color: #4a9f9b;
    text-decoration: none;
}

.responsive-image-left {
    width: 15vw;
    height: auto;
    display: block;
    float:left;
    margin-left:5vw;
}

.responsive-image-right {
    width: 15vw;
    height: auto;
    display: block;
    float: right;
    margin-right:5vw;
}

.hero {
    text-align: center;
    margin-top: 50px;
}

.hero h1 {
    font-size: 36px;
    color: #333;
}

.buttons {
    margin-top: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.login-btn, .signup-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #6bbdb8;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 16px;
    font-weight: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.login-btn:hover, .signup-btn:hover {
    background-color: #4a9f9b;
    color: #dddddd;
    text-decoration: none;

}

.label-left{
    text-align: left;
    display: block;
}





.image-container {
    position: relative;
}

.image-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 30%;
    height: 30%;
}

.hide {
    display: none !important;
}

.button-container {
    margin-top: 20px;
}