{% extends 'index.html' %}
{% load static %}
{% block content %}
  <!--
  ###########################################################################
  #   Author: Luke Clarke
  #   Contributors: Ellie Andrews, Ollie Barnes
  #
  #   The author has written all code in this file unless stated otherwise.
  ###########################################################################
  -->
<style>
    .grid div {
        width: 300px;
        margin-left: auto;
        margin-right: auto;
    }

    .row div {
        padding: 10px;
        border: 1px solid black;
        height: 100px;
        width: 100px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 75px;
    }

    h1 {
        margin-top: 10px;
        margin-bottom: 30px;
    }

    h2 {
        margin-top: 25px;
    }
</style>

<!-- the below style tag was written by Ollie Barnes -->
<!-- styling to alter the table dependant on device width, this allows for mobile compatibility -->
<style>
    /* Default the mobile version of the table as hidden */
    .mobile-responsive-container, .desktop-responsive-container{
       display: flex !important;
    }
 
    /* Alter the table size dependant on the device width */
    @media screen and (max-width: 570px){
       .desktop-responsive-container{
          display: none !important;
       }
       .mobile-responsive-container{
          display: flex !important;
       }
    }
 
    @media screen and (min-width: 569px){
       .desktop-responsive-container{
          display: flex !important;
       }
       .mobile-responsive-container{
          display: none !important;
       }
    }
 </style>
<!-- end of Ollie Barnes styling -->

<script>        
    // Function to display Buddy with items 
    function displayImages() {
        const wardrobeItems = [
            "{% static 'items/binhatitem.png' %}",
            "{% static 'items/glassesitem.png' %}",
            "{% static 'items/goldmedalitem.png' %}",
            "{% static 'items/rubiishpickeritem.png' %}",
            "{% static 'items/waterbottleitem.png' %}",
            "{% static 'items/partyhatitem.png' %}",
            "{% static 'items/picnicbasketitem.png' %}",
            "{% static 'items/teddybearitem.png' %}",
            "{% static 'items/dressitem.png' %}",
            "{% static 'items/suititem.png' %}",
        ];
        const index_array = JSON.parse('{{ index_array|escapejs }}');
        console.log("items that should be worn "+index_array);
        const container = document.getElementById('buddy-container');
        index_array.forEach((item, index) => {
        const img = document.createElement('img');
        img.src = wardrobeItems[item];
        img.alt = `Wardrobe Item ${index + 1}`;
        img.classList.add('absolute-image');
        img.style.height = '300px';
        img.style.width = '300px';
        container.appendChild(img);
    });
}
window.onload = displayImages;
</script>

<h1>Noughts and Crosses</h1>

<!-- Code written by Ellie Andrews, Ollie Barnes - minor CSS changes -->
<!-- This code displays when on larger devices, ensuring items fit correctly on the page -->
<div class="desktop-responsive-container" style="justify-content: center; display: flex; align-items: center;">
    <div style="height:300px;width:300px;">
        <div class="outer-buddy-containter">
            <div class="centered-container" style="height: 300px;">
                <div id="buddy-container">
                    <img src="{% static 'under_my_scrum_brella/' %}{{user_details.buddy_type}}.png" class="absolute-image">
    </div></div></div></div>

    <div class="speech-bubble-container">
        <img src="{% static 'assets/speech bubble.png' %}" class = "speech-bubble">
        <div class="text-on-speech-bubble" id="speech-text">Let's play a game!</div>
    </div>
</div>


<!-- This code displays on smaller devices, ensuring items fit correctly on the page on mobile -->
<div class="mobile-responsive-container" style="justify-content: center; display: flex; align-items: center;">
    <img src="{% static 'under_my_scrum_brella/' %}{{user_details.buddy_type}}.png" style="height:auto;width:30vw;">
    <div class="speech-bubble-container">
        <img src="{% static 'assets/speech bubble.png' %}" class = "speech-bubble">
        <div class="text-on-speech-bubble" id="speech-text-2" style="font-size: 3vw">Let's play a game!</div>
    </div>
</div>
<!--End of Ellie Andrews code, end of Ollie Barnes alterations-->

<div class="grid">
    <div class="row">
      <div id="[-1,1]" onclick="place(this)"></div>
      <div id="[0,1]" onclick="place(this)"></div>
      <div id="[1,1]" onclick="place(this)"></div>
    </div>
    <div class="row">
      <div id="[-1,0]" onclick="place(this)"></div>
      <div id="[0,0]" onclick="place(this)"></div>
      <div id="[1,0]" onclick="place(this)"></div>
    </div>
    <div class="row">
      <div id="[-1,-1]" onclick="place(this)"></div>
      <div id="[0,-1]" onclick="place(this)"></div>
      <div id="[1,-1]" onclick="place(this)"></div>
    </div>
</div>

<h2 id="winBanner">Congratulations! Game has been won!</h2>
<br>
<br>
<br>

<script>
    //TODO: Randomly choose which player starts first
    //TODO: Refine checking for diagonals
    //TODO: Add option to restart game
    //TODO: Make computer not random

    var player = "O";
    var status = "start"; //start, playing, or end

    //Used to start the game and reset the board
    function startGame() {
        //Hides the congratulations message
        var winBanner = document.getElementById("winBanner");
        winBanner.style.display = "none";

        status = "playing";
    }

    function place(box) {
        //Players can only place if there is no letter already in box
        //And if the game is in progress
        if (box.innerText == "" && status == "playing") {
            box.innerText = player; //Places the icon

            //Checks whether to continue the game
            checkWin();

            if (status == "playing") {
                checkFull();

                //Switches to the next player
                if (player == "O" && status == "playing") {
                    player = "X";
                    setTimeout(computerTurn, 1000); //Computer waits a second before making turn
                }
                else if (player == "X" && status == "playing") {
                    player = "O";
                }
            }

        }
    }

    //Checks whether the grid is full
    function checkFull() {
        //Checks whether there are any empty boxes
        for (let row = -1; row <= 1; row++) {
            for (let col = -1; col <= 1; col++) {
                box = document.getElementById(`[${row},${col}]`);
                //If there is an empty box, there is room
                if (box.innerText == "") {
                    return;
                }
            }
        }

        //If there are no empty boxes, the grid must be full
        status = "end";

        //Alerts player that the grid is full
        var winBanner = document.getElementById("winBanner");
        winBanner.innerHTML = "Game Over!";
        winBanner.style.display = "block";

        //Ellie Andrews code
        var speechText = document.getElementById("speech-text");
        speechText.innerHTML = "A draw!";

        var speechText2 = document.getElementById("speech-text-2");
        speechText2.innerHTML = "A draw!";
        //End of Ellie Andrews code
    }

    //Used to check if the game has been won
    function checkWin() {
        checkWinRow();
        checkWinCol();
        checkWinDiagonal();
    }

    //Checks for a win in each row
    function checkWinRow() {
        row: for (let row = -1; row <= 1; row++) {
            for (let col = -1; col <= 1; col++) {
                box = document.getElementById(`[${row},${col}]`);
                if (box.innerText != player) {
                    continue row;
                }
            }
            gameWon();
        }
    }

    //Checks for a win in each column
    function checkWinCol() {
        col: for (let col = -1; col <= 1; col++) {
            for (let row = -1; row <= 1; row++) {
                box = document.getElementById(`[${row},${col}]`);
                if (box.innerText != player) {
                    continue col;
                }
            }
            gameWon();
        }
    }

    //Checks for a win on the diagonals
    function checkWinDiagonal() {
        let win = true;

        //loops through each box in one diagonal
        for (let i = -1; i <= 1; i++) {
            box = document.getElementById(`[${i},${i}]`);
            if (box.innerText != player) {
                win = false;
                break;
            }
        }

        if (win) {
            gameWon();
            return; //only need to check for win 
        }
        win = true;
        //loops through each square in the other diagonal
        
        for (let i = -1; i <= 1; i++) {
            box = document.getElementById(`[${-i},${i}]`);
            if (box.innerText != player) {
                win = false;
                break;
            }
        }

        if (win) {
            gameWon();
        }
    }

    function computerTurn() {
        let isSet = false;

        //Keeps choosing boxes until it finds unoccupied one
        while(!isSet) {
            //Chooses random row and column
            row = Math.floor(Math.random() * 3 - 1);
            col = Math.floor(Math.random() * 3 - 1);

            box = document.getElementById(`[${row},${col}]`);
            if (box.innerText == "") {
                place(box);
                isSet = true;
            }
        }
    }

    function gameWon() {
        status = "end";

        var winBanner = document.getElementById("winBanner");
        //If the user wins
        if (player == "O") {
            winBanner.innerHTML = "Congratulations! Game has been won!";
            //Ellie Andrews code
            var speechText = document.getElementById("speech-text");
            speechText.innerHTML = "Aww you win!";

            var speechText2 = document.getElementById("speech-text-2");
            speechText2.innerHTML = "Aww you win!";
            //End of Ellie Andrews code
        } 
        else { //If the computer wins
            winBanner.innerHTML = "Sorry! You lost!";
            //Ellie Andrews code
            var speechText = document.getElementById("speech-text");
            speechText.innerHTML = "Yay I win!";

            var speechText2 = document.getElementById("speech-text-2");
            speechText2.innerHTML = "Yay I win!";
            //End of Ellie Andrews code
        }
        winBanner.style.display = "block";
    }

    startGame();

</script>
{% endblock content %}