{% extends 'index.html' %}
{% load static %}
{% block content %}
<style>
    body {
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        padding-top: 60px;
    }

    .pet-title {
        margin-bottom: 20px;
    }

    .centered-container {
        resize: vertical;
        height: 50vh;
        aspect-ratio: 1/1;
        position: relative;
        /* border: 2px solid #333; */
        box-sizing: border-box;
        /* Include border in total width and height */
    }

    .absolute-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        /* Maintain image aspect ratio while covering the container */
    }

    .full-width-container {
        width: 100%;
        /* border: 2px solid #333;  */
        box-sizing: border-box;
        /* Include border in total width and height */
        padding: 20px;

        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        /* Center the buttons horizontally */
        align-items: center;
        /* Center the buttons vertically */
        gap: 20px;
        /* Add some spacing between buttons */
    }

    .wardrobe-button {
        width: 100px;
        height: 100px;
        background-color: #6bbdb8;
        color: #fff;
        border-color: #6bbdb8;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        border-width: 3px;
        margin: 10px;
    }

    .wardrobe-button:hover {
        background-color: #4a9f9b;
        color: #dddddd;
        text-decoration: none;
    }

    .item-image {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    #imageContainer {
        min-height: 50vh;
        /* Set a minimum height for scrolling */
    }
</style>

<script>
    let latestValue = 0;
    let itemList = [];
    //add an array of the item buttons so that they can be iterated through 

    function setItem(itemNum, itemID, buttonID) {
        latestValue = itemNum;
        toggleImage(itemNum, itemID, buttonID);
    }

    function toggleImage(itemNum, itemID, buttonID) {

        const image = document.getElementById(itemID);
        var buttonToChange = document.getElementById(buttonID);

        if (image.style.display === 'none' || image.style.display === '') {
            image.style.display = 'block';
            itemList.push(itemNum);
            buttonToChange.style.borderColor = "#ffbf00";
        } else {
            image.style.display = 'none';
            const index = itemList.indexOf(itemNum);
            if (index !== -1) {
                itemList.splice(index, 1);
                console.log(`Removed ${itemNum} from the array.`);
            } else {
                console.log(`${itemNum} not found in the array.`);
            }
            buttonToChange.style.borderColor = "#6bbdb8";
        }
        console.log(itemList);
    }


    // Call the function to display images based on the array
    function saveItems(divID)
    {
        document.getElementById('input-value').value = itemList.join(',');
        //displayBuddyWithItems(itemList)
    }

    function displayBuddyWithItems(integers) {
        const imageContainer = document.getElementById('imageContainer');

        // Loop through the array of integers
        for (const integer of integers) {
            // Create an image element
            const image = document.createElement('img');

            // Set the source of the image based on the integer
            switch (integer) {
                case 1:
                    image.src = "{% static 'items/binhatitem.png' %}";
                    break;
                case 2:
                    image.src = "{% static 'items/glassesitem.png' %}";
                    break;
                case 3:
                    image.src = "{% static 'items/goldmedalitem.png' %}";
                    break;
                case 4:
                    image.src = "{% static 'items/rubiishpickeritem.png' %}";
                    break;
                case 5:
                    image.src = "{% static 'items/waterbottleitem.png' %}";
                    break;

                default:
                    break;
            }

            image.classList.add('absolute-image');

            // Append the image to the container
            imageContainer.appendChild(image);
        }
    }

    function clearBuddyWithItems() {
        //change imageContainer to be any id given 
        const imageContainer = document.getElementById('imageContainer');
        // Remove all child elements (images) from the container
        imageContainer.innerHTML = '';
    }

    // Assuming you have an array of image paths corresponding to wardrobe items
    const wardrobeItems = [
            "{% static 'items/binhatitem.png' %}",
            "{% static 'items/glassesitem.png' %}",
            "{% static 'items/goldmedalitem.png' %}",
            "{% static 'items/rubiishpickeritem.png' %}",
            "{% static 'items/waterbottleitem.png' %}"
        ];

        

        // Function to display images on the page
        function displayImages() {
            const item_array = JSON.parse('{{ item_array|escapejs }}');
            const index_test = JSON.parse('{{ index_array|escapejs }}');
            console.log("items that should be worn "+index_test);
            console.log("new item " + item_array);
            
            const container = document.getElementById('wardrobe-container');

            index_test.forEach((item, index) => {
                const img = document.createElement('img');
                img.src = wardrobeItems[item];
                img.alt = `Wardrobe Item ${index + 1}`;
                img.classList.add('absolute-image');
                container.appendChild(img);
            });
        }

        // Call the displayImages function when the page loads
        window.onload = displayImages;

</script>

<body>
    <br>
    <div>
        <h1 class="pet-title">{{user_details.buddy_name}}'s Wardrobe</h1>
    </div>


    <div class="centered-container">
        <div>

            <img src="{% static 'under_my_scrum_brella/'%}{{user_details.buddy_type}}.png" class="absolute-image">
            <img id="item-1-image" src="{% static 'items/binhatitem.png' %}" class="item-image">
            <img id="item-2-image" src="{% static 'items/glassesitem.png' %}" class="item-image">
            <img id="item-3-image" src="{% static 'items/goldmedalitem.png' %}" class="item-image">
            <img id="item-4-image" src="{% static 'items/rubiishpickeritem.png' %}" class="item-image">
            <img id="item-5-image" src="{% static 'items/waterbottleitem.png' %}" class="item-image">

        </div>
    </div>

</div>
<p>Click items to add or remove them from your Buddy. Hover over a button to see the name of the item</p>
<div class="full-width-container">
    
    <button id="item-1" title="Bin Hat" class="wardrobe-button" onclick="setItem(0, 'item-1-image', 'item-1')">
        <img src="{% static 'items/binhatitem.png' %}" width="90" height="90"></button>
    
    <button id="item-2" title="Glasses" class="wardrobe-button" onclick="setItem(1, 'item-2-image', 'item-2')">
        <img src="{% static 'items/glassesitem.png' %}" width="90" height="90"></button>
    
    <button id="item-3" title="Gold Medal" class="wardrobe-button" onclick="setItem(2, 'item-3-image','item-3')">
        <img src="{% static 'items/goldmedalitem.png' %}" width="90" height="90"></button>

    <button id="item-4" title="Litter Picker" class="wardrobe-button" onclick="setItem(3, 'item-4-image','item-4')">
        <img src="{% static 'items/rubiishpickeritem.png' %}" width="90" height="90"></button>

    <button id="item-5" title="Water Bottle" class="wardrobe-button" onclick="setItem(4, 'item-5-image','item-5')">
        <img src="{% static 'items/waterbottleitem.png' %}" width="90" height="90"></button>


<button id="Clear Items" title="Clear Items" class="wardrobe-button" onclick="clearBuddyWithItems()">
    Clear </button>
 
<button id="Save changes" title="Save changes" class="wardrobe-button" onclick="saveItems()">
    Save Changes </button>


    <!--
<div id="testItemList">
    Test for getting items from the database
    {% for item in all_items %}
            Item: {{ item.item_name }}
    {% endfor %}
</div>
-->



<form method="post" action="{% url 'wardrobe' %}">
    {% csrf_token %}
    
    <!-- Example: Passing an array of integers [1, 2, 3] -->
    <input id="input-value" type="hidden" name="selected_indices" value="0">
    <button type="submit" class="wardrobe-button">Confirm</button>
</form>

<div class="centered-container">
    <div id="imageContainer">
        <div id="wardrobe-container"><img src="{% static 'under_my_scrum_brella/'%}{{user_details.buddy_type}}.png" class="absolute-image"></div>

    </div>


</body>

{% endblock content %}