{% extends 'index.html' %}
{% load static %}
{% block content %}
  <!--
  ###########################################################################
  #   Author: Jack Bundy
  #   Contributors: Ellie Andrews, Ollie Barnes
  #
  #   The author has written all code in this file unless stated otherwise.
  ###########################################################################
  -->

<!-- The below code is written by Ollie Barnes -->
<!-- display error message if required - hidden by default -->
<div id="error_box_email" class="alert alert-warning alert-dismissible fade" role="alert">
    <strong id="error_msg_email"> <!-- error msg input here via javascript --> </strong>
    <span id="error_fix_msg_email"> <!-- error description input here via javascript --> </span>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<!-- end of code written by Ollie Barnes -->

<!--Page styled by Ellie Andrews-->
<section class="vh-100">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-10" >
            <div>
                <h1>{{ viewed_user.user.username }}</h1>
            </div>
            <div class="col-md-6" >
                <div class="card shadow-2-strong" style="border-radius: 1rem" >

                    <div class="card-body p-5 text-center">

                    <div class="text-center">
                        <ul class="list-group list-group-flush" >
                            {% if viewed_user.user.id == user_details.user.id %}
                            <!-- If they are looking at their own page allow for email/pass change-->

                            <li class="list-group-item">
                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-primary btn-block loginpage-btn" data-bs-toggle="modal" data-bs-target="#changePassModal">
                                    Change password
                                </button>
  
                                <!-- Modal -->
                                <form action="" method=POST id="changePass">
                                    <div class="modal fade" id="changePassModal" tabindex="-1">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h2 class="text-center mb-4" style = "color: #2c7774 !important;">Change password</h2>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">

                                                        {% csrf_token %}
                                                        <div class="form-group">
                                                            <input type="password"class="form-control" id="old_pass" placeholder="Enter the old password" name="old_pass">
                                                        </div>
                                                        <div class="form-group">
                                                            <input type="password" class="form-control"id="new_pass" placeholder="New password" name="new_pass" >
                                                            <input type="password" class="form-control"id="new_pass_repeat" placeholder="New password again" name="new_pass_repeat" >
                                                        </div>
                                                        <div id="error_box_pwd" class="alert alert-warning alert-dismissible fade" role="alert">
                                                            <strong id="error_msg_pwd"> <!-- error msg input here via javascript --> </strong>
                                                            <span id="error_fix_msg_pwd"> <!-- error description input here via javascript --> </span>
                                                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                                        </div>

                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                    <button name="changePass" type="submit" class="btn btn-primary btn-block loginpage-btn">Change</button>
                                                    <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>

                            </li>


                            <li class="list-group-item">
                                <form action="" method=POST id="changeMail">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col">
                                            <div class="input-group">

                                                <input type="email"class="form-control" id="new_email" placeholder="{{ user_details.user.email }}" name="new_email" >
                                                <input type="email" value="{{user.email}}" id="old_email" hidden>

                                            <div class="input-group-append">
                                                <!-- <button class="btn btn-secondary" type="button" id="togglePassword">Show</button> -->
                                                <button name="changeMail" type="submit" class="btn btn-primary btn-block loginpage-btn">Change</button>
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </li>
  
                            {% else %}

                            <li class="list-group-item">
                                <form action="../friends/" method=POST>
                                {% csrf_token %}
                                <input type="text" id="friend_username" value="{{viewed_user.user.username}}" name="friend_username" hidden>
                                <button name="add" class="btn btn-primary btn-block loginpage-btn">Add Friend</button>
                                </form>
                            </li>

                            {% endif %}
                            <li class="list-group-item">
                                <p style="color: #2c7774;">Buddy : {{viewed_user.buddy_name}}</p>
                                <div class="d-flex justify-content-center"><img src="{% static 'under_my_scrum_brella/'%}{{user_details.buddy_type}}.png" class="responsive-image"></div>
                                <!-- TODO -->
                            </li>
                            <li class="list-group-item"><p style="color: #2c7774;">Coins : {{viewed_user.total_coins}}</p></li>
                            <li class="list-group-item"><p style="color: #2c7774;">XP : {{viewed_user.total_xp}}</p></li>
                        </ul>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
let timer;

function checkPassMatch() {
    pass = document.getElementById("new_pass").value;
    pass_repeat = document.getElementById("new_pass_repeat").value;
    
    if (pass !== pass_repeat && pass && pass_repeat) {
        document.getElementById("passMatchAlert").removeAttribute("hidden");
    } else {
        document.getElementById("passMatchAlert").setAttribute("hidden", true);
    };
}

document.getElementById("new_pass").addEventListener("keyup", () => {
    clearTimeout(timer);
    timer=setTimeout(checkPassMatch, 500); 
    // Stops it from appearing as soon as you type
    // It resets the timer with every keyup
});
document.getElementById("new_pass_repeat").addEventListener("keyup", () => {
    clearTimeout(timer);
    timer=setTimeout(checkPassMatch, 500);
});


document.getElementById("changePass").addEventListener("submit", function (event) {
    var old_pass = document.getElementById("old_pass").value;
    var pass = document.getElementById("new_pass").value;
    var pass_repeat = document.getElementById("new_pass_repeat").value;


    if (!old_pass) {
        displayError("Current password not input!", "Please enter your current password below.","pwd");
        event.preventDefault(); // Stop form from being submitted
    }
    else if (!pass && !pass_repeat ) {
        displayError("No new password entered!", "Please enter your new password in the new password fields below.", "pwd");
        event.preventDefault();
    } else if (pass != pass_repeat) {
        displayError("Confirmed password does not match!", "Please ensure your new password matches your confirmed password.", "pwd");
        event.preventDefault();
    } else if (pass === old_pass) {
        displayError("New password cannot be the same as old password!", "Please enter a unique password in the new password field.", "pwd");
        event.preventDefault();
    }
});


document.getElementById("changeMail").addEventListener("submit", ()=> {
    old_email = document.getElementById("old_email").value;
    new_email = document.getElementById("new_email").value;

    if (old_email === new_email) {
        displayError("New email is not unique!", "Please enter a new email different to your current email in the field below.", "email");
        event.preventDefault();
    }
    if (!isValidEmail(new_email)){
        displayError("Invalid email input!","Please enter a valid email address below. e.g. john@YourProvider.com", "email");
        event.preventDefault();
    }
    if (!new_email) {
        displayError("No new email input!", "Please enter an email in the 'new email' input field below.", "email");
        event.preventDefault();
    }
})

/**
    This function performs basic email validation, and returns whether the email is valid or not

    @return true if the email is valid, false otherwise

    Author: Ollie Barnes
**/
function isValidEmail(email) {
    var regex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
    return regex.test(email);
}

/**
    This function is called to display a user-friendly error message to the user.
    It displays the error in a yellow rectangular box at the top of the screen.
    The main error message is displayed in a bold text.
    The extra fix directions are displayed in a non-bold text.

    @param errorMsg The main error message to display
    @param errorFixMsg Directions as to how the user can fix the given error
    @param name The name of the given error box

    Author: Ollie Barnes
**/
function displayError(errorMsg, errorFixMsg, name) {
    // Display the main error message
    errorMsgField = document.getElementById("error_msg_"+ name);
    errorMsgField.innerText = errorMsg;

    //Display a fix for the error message
    errorFixMsgField = document.getElementById("error_fix_msg_" + name);
    errorFixMsgField.innerText = errorFixMsg;

    //Show the alert box
    document.getElementById("error_box_" + name).classList.add("show");
}
</script>
{% endblock content %}