{% extends 'index.html' %}
{% load static %}
  <!--
  ###########################################################################
  #   Author: Ellie Andrews
  #   Contributors:
  #
  #   The author has written all code in this file unless stated otherwise.
  ###########################################################################
  -->
{% block content %}
<h1>Leaderboard:</h1>
<div style="justify-content: center; display: flex;">
  <button onclick="showFriends()" class="login-btn" style="border: none;">Friends Leaderboard</button>
  <button onclick="showAll()" class="login-btn" style="border: none;">All Players Leaderboard</button>
</div>
<br>
<div id="friendsLeader" style="display: block;">
  <table class="table">
    <tbody>
      <!-- output each friend in order of their total xp -->
      {% for friend in friends %}
      <tr>
        <div class="friend">{{ friend.username }}: {{friend.total_xp}}XP</div>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<div id="allLeader" style="display: none;">
  <table class="table">
    <tbody>
      {% for user in all_users %}
      <tr>
        <div class="friend">{{ user.user }}: {{user.total_xp}}XP</div>
      </tr>
      {% endfor %}
    </tbody>
  </table>

</div>

<script>
  function showFriends() {
    document.getElementById('friendsLeader').style.display = "block";
    document.getElementById('allLeader').style.display = "none";
  }

  function showAll() {
    document.getElementById('friendsLeader').style.display = "none";
    document.getElementById('allLeader').style.display = "block";
  }
</script>

{% endblock content %}