{% extends 'index.html' %}
{% load static %}
{% block content %}
<!-- login container -->
<!-- signup container -->
<section class="vh-100">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-4 login-container">
                <div class="card shadow-2-strong" style="border-radius: 1rem">
                    <div class="card-body p-5 text-center">
                        <h2 class="text-center mb-4">Login</h2>

                        <form id="loginForm" action="" method=POST>
                            {% csrf_token %}
                            <!-- username input -->
                            <div class="form-group">
                                <input type="text" class="form-control" id="username" placeholder="Enter Username"
                                    name="username">
                            </div>

                            <!-- password input -->
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="password" class="form-control" id="password"
                                        placeholder="Enter Password" name="password">

                                    <!-- allows password to be shown if required by the user-->
                                    <div class="input-group-append">
                                        <button class="btn btn-secondary" type="button"
                                            id="togglePassword">Show</button>
                                    </div>
                                </div>
                            </div>

                            <button type="submit" class="btn btn-primary btn-block">Login</button>
                            <p class="text-center mb1">Don't have an account?
                                <a href="{% url 'signup' %}">Signup</a>
                            </p>
                        </form>
                    </div>
                </div>
            </div>

            <!-- Script to show/hide password if required by the user -->
            <script>
                document.getElementById("togglePassword").addEventListener("click", function () {
                    var pwdField = document.getElementById("password");
                    if (pwdField.type == "password") {
                        this.textContent = "Hide";
                        pwdField.type = "text";
                    }
                    else {
                        this.textContent = "Show";
                        pwdField.type = "password";
                    }
                });

                document.getElementById("loginForm").addEventListener("submit", function (event) {
                    var username = document.getElementById("username").value;
                    var password = document.getElementById("password").value;

                    if (!username) {
                        alert("Please enter a username!");
                        event.preventDefault(); // Stop form from being submitted
                    }
                    else if (!password) {
                        alert("Please enter a password!");
                        event.preventDefault();
                    }
                });
            </script>
            {% endblock content %}