  <!--
  ###########################################################################
  #   Author: Ollie Barnes 
  #   Contributors: Ellie Andrews 
  #
  #   The author has written all code in this file unless stated otherwise.
  ###########################################################################
  -->

{% extends 'index.html' %}
{% load static %}
{% block content %}

<!-- display error message if required - hidden by default -->
<div id="error_box" class="alert alert-warning alert-dismissible fade" role="alert">
    <strong id="error_msg"> <!-- error msg input here via javascript --> </strong>
    <span id="error_fix_msg"> <!-- error description input here via javascript --> </span>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<!-- signup container -->
<section class="vh-100">
    <div class="container py-5 h-100">
        <!--Ellie Andrews -->
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div>
                <h1>Buddy choices:</h1>
                <div style="justify-content: center; display: flex;">
                    <img src="{% static 'under_my_scrum_brella/batteryguy.png' %}" class="responsive-image">
                    <img src="{% static 'under_my_scrum_brella/treeguy.png' %}" class="responsive-image">
                    <img src="{% static 'under_my_scrum_brella/waterbottleguy.png' %}" class="responsive-image">
                    <img src="{% static 'under_my_scrum_brella/greenbinguy.png' %}" class="responsive-image">
                </div>
            </div>
            <!---->
            <div class="col-md-8">
                <div class="card shadow-2-strong" style="border-radius: 1rem">
                    <div class="card-body p-5 text-center">

                        <h2 class="text-center mb-5" style = "color: #2c7774 !important;">Signup</h2>

                        <form id="loginForm" class="row" action="" method="POST">
                            {% csrf_token %}
                            <!-- Left column for username, email, and password -->
                            <div class="col-md-6">

                                <!-- username input -->
                                <div class="form-group">
                                    <label for="username" class="mb-0 label-left">Username</label>
                                    <input type="text" class="form-control" id="username" name="username"
                                        placeholder="Create Username">
                                </div>

                                <!-- Email input -->
                                <div class="form-group">
                                    <label for="email" class="mb-0 label-left">Email</label>
                                    <input type="email" class="form-control" id="email" name="email"
                                        placeholder="Enter Email">
                                </div>

                                <!-- password input -->
                                <div class="form-group">
                                    <label for="password" class="mb-0 label-left">Password</label>
                                    <div class="input-group">
                                        <input type="password" class="form-control" id="password" name="password"
                                            placeholder="Create Password">
                                    </div>
                                </div>

                                <!-- confirm password -->
                                <div class="form-group">
                                    <input type="password" class="form-control" id="confirmPassword"
                                        placeholder="Confirm Password">
                                </div>

                            </div> <!-- End of left column -->

                            <!-- Right column for Your Buddy inputs -->
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="buddyName" class="mb-0 label-left">Your Buddy</label>
                                    <input type="text" class="form-control" id="buddyName" name="buddyName"
                                        placeholder="Buddy Name">
                                </div>

                                <div class="form-group">
                                    <select class="form-control" id="buddyType" name="buddyType">
                                        <option value="" disabled selected>-- Select a Buddy Type --</option>
                                        <option value="greenbinguy">Green Bin Guy</option>
                                        <option value="batteryguy">Battery Guy</option>
                                        <option value="waterbottleguy">Water Bottle Guy</option>
                                        <option value="treeguy">Tree Guy</option>
                                    </select>
                                </div>

                            </div> <!-- End of right column -->

                            <button type="submit" class="btn btn-primary btn-block loginpage-btn">Signup</button>
                            <p class="text-center mb-1" style = "color: #2c7774 !important;">Already have an account? <a href="{% url 'login' %}" style = "color: #2c7774 !important;" >Login</a>
                            </p>
                        </form>
                    </div>
                </div>
                <br>
                <br>
            </div>
        </div>
    </div>
</section>


<script>
    /**
        This event listener waits for the signup form to be submitted, then does some client-side error checking
        prior to sending the data off to the server for further checking.
        If an error is found, the displayError function is called with the respective error message.
    **/
    document.getElementById("loginForm").addEventListener("submit", function (event) {
        var username = document.getElementById("username").value;
        var email = document.getElementById("email").value;
        var password = document.getElementById("password").value;
        var confirmedPassword = document.getElementById("confirmPassword").value;
        var buddyName = document.getElementById("buddyName").value;
        var buddyType = document.getElementById("buddyType").value;

        if (!username) {
            displayError("No username input!", "Please input a username in the input field below");
            event.preventDefault(); // Stop form from being submitted
        }
        if (!email) {
            displayError("No email input!", "Please input an email in the input field below.");
            event.preventDefault();
        }
        if (!isValidEmail(email)) {
            displayError("Invalid email!", "Please input a valid email in the input field below. e.g. john@emailProvider.com");
            event.preventDefault();
        }
        if (!buddyName) {
            displayError("No buddy name input!", "Please give your sustainable buddy a name in the input field below.");
            event.preventDefault();
        }
        if (!buddyType) {
            displayError("No buddy type selected!", "Please select a buddy type from the drop-down list below.");
            event.preventDefault();
        }
        validatePassword(password, confirmedPassword);

    });

    /**
        This function performs basic email validation, and returns whether the email is valid or not

        @return true if the email is valid, false otherwise
    **/
    function isValidEmail(email) {
        var regex = /^[^\s@]+@[^\s@]+\.[^\s@.]+$/;
        return regex.test(email);
    }

    
    /**
        This function performs basic password validation, and throws a display error and prevents the 
        password field being submit if the password is found to now be valid.
    **/
    function validatePassword(password, confirmedPassword) {
        if (!password) {
            displayError("No password input!", "Please input a password in the input field below.");
            event.preventDefault();
        }
        if (password != confirmedPassword) {
            displayError("Passwords don't match!", "Please ensure that your password & confirmed password are the same.");
            event.preventDefault();
        }
        if (password.length < 6){
            displayError("Passwords too short!", "Please ensure that your password has at least 6 characters.");
            event.preventDefault();
        }
        if (!/[A-Z]/.test(password)) {
            displayError("Password does not meet minimum requirements!", "Please ensure that your password contains at least one uppercase letter.");
            event.preventDefault();
        }
        if (!/[a-z]/.test(password)) {
            displayError("Password does not meet minimum requirements!", "Please ensure that your password contains at least one lowercase letter.");
            event.preventDefault();
        }
        if (!/[0-9]/.test(password)) {
            displayError("Password does not meet minimum requirements!", "Please ensure that your password contains at least one number.");
            event.preventDefault();
        }
        if (!/[!@#$%^&*(),.?":{}|<>]/.test(password)) {
            displayError("Password does not meet minimum requirements!", "Please ensure that your password contains at least one symbol (!@#$%^&*(),.?\":{}|<>)");
            event.preventDefault();
        }
    }

    
    /**
        This function is called to display a user-friendly error message to the user.
        It displays the error in a yellow rectangular box at the top of the screen.
        The main error message is displayed in a bold text.
        The extra fix directions are displayed in a non-bold text.

        @param errorMsg The main error message to display
        @param errorFixMsg Directions as to how the user can fix the given error
    **/
    function displayError(errorMsg, errorFixMsg) {
        // Display the main error message
        errorMsgField = document.getElementById("error_msg");
        errorMsgField.innerText = errorMsg;

        //Display a fix for the error message
        errorFixMsgField = document.getElementById("error_fix_msg");
        errorFixMsgField.innerText = errorFixMsg;

        //Show the error box
        errorBox = document.getElementById("error_box")
        errorBox.classList.add("show");

        // Force the user to focus on the error message
        errorBox.scrollIntoView({ behavior: "smooth", block: "end", inline: "center" });
    }
</script>
{% endblock content %}