<!-- This file was written by Ollie Barnes unless stated otherwise -->

{% extends 'index.html' %}
{% load static %}

{% block content %}
<!-- the below style tag was written by Ellie Andrews -->
<style>
.popup {
   display: none;
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   border: 1px solid #ccc;
   padding: 20px;
   background-color: #6bbdb8;
   z-index: 9999;
   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

/* Style for the overlay */
.overlay {
   display: none;
   position: fixed;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   background-color: rgba(0, 0, 0, 0.5);
   z-index: 9998;
}
</style>



<h1>{{ user.username }}'s tasks</h1>

<!-- create a table of tasks, allow clickable descriptions to pop-up in modal boxes & allow users to tick off tasks 
        tasks should be auto-ticked if already completed & DB updated if they click they have done a task. -->
<table class="table">
   <thead>
      <tr>
         <th scope="col">Task Name</th>
         <th scope="col">Difficulty Level</th>
         <th scope="col">Coin Reward</th>
         <th scope="col">XP Reward</th>
         <th scope="col">Info</th>
         <th scope="col">Completed</th>
      </tr>
   </thead>

   <tbody>
      {% for task in assigned_tasks %}
         <tr>
            <th scope="col">{{ task.task_id.TaskName }}</th>
            <td scope="col">{{ task.task_id.DifficultyLevel }}</td>
            <td scope="col">{{ task.task_id.CoinReward }}</td>
            <td scope="col">{{ task.task_id.XpReward }}</td>
            <td scope="col"> <button type="button" class="btn btn-secondary btn-sm" data-toggle="modal"
                  data-target="#taskModal"
                  onclick="openPopup('{{ task.task_id.TaskName }}', '{{ task.task_id.Description }}')">info</button> </td>

            {% if task.completion_status == 1 %}
            <!-- button is disabled, so a task cannot be unchecked. -->
            <td scope="col"> <button type="button" class="btn btn-success btn-sm" disabled> ✅ </button> </td>
            {% else %}
            <td scope="col">
               <!-- create a form which allows details to be passed to the database on submission -->
               <form action="" method='POST'>
                  {% csrf_token %}
                  <input type="hidden" name="task_id" value="{{ task.task_id.id }}" />
                  <button type="submit" name="task-complete" class="btn btn-danger btn-sm"> ✖️ </button> </td>
               </form>
            {% endif %}
         </tr>
      {% endfor %}
   </tbody>
</table>

<!-- the below was written by Ellie Andrews, altered by Ollie Barnes for re-use -->
<div class="overlay" id="overlay"></div>
<div class="popup" id="popup">
    <h2 id="taskModalTitle"> <!-- the task title goes here --> </h2>
    <p><span id="modal-body"> <!-- the task description goes here --> </span></p>
    <div style="justify-content: center; display: flex; gap: 20px;">
    <button onclick="closePopup()" class="btn btn-primary btn-block loginpage-btn">Close</button>
    </div>
</div>

<script>
   function openPopup(taskName, taskDescription) {
      // Display the modal
      document.getElementById("overlay").style.display = "block";
       document.getElementById("popup").style.display = "block";

      // Update the contents of the modal
      document.getElementById("modal-body").innerText = taskDescription;
      document.getElementById("taskModalTitle").innerText = taskName;
   }

   function closePopup() {
       document.getElementById("overlay").style.display = "none";
       document.getElementById("popup").style.display = "none";
   }
</script>
<!-- end of Ellie Andrews' code-->

{% endblock content %}