<!-- This file was written by Ollie Barnes unless stated otherwise -->

{% extends 'index.html' %}
{% load static %}

{% block content %}
<h1>{{ user_details.user.username }}'s tasks</h1>

<!-- create a table of tasks, allow clickable descriptions to pop-up in modal boxes & allow users to tick off tasks 
        tasks should be auto-ticked if already completed & DB updated if they click they have done a task. -->
<table class="table">
   <thead>
      <tr>
         <th scope="col">Task Name</th>
         <th scope="col">Difficulty Level</th>
         <th scope="col">Coin Reward</th>
         <th scope="col">XP Reward</th>
         <th scope="col">Info</th>
         <th scope="col">Completed</th>
      </tr>
   </thead>

   <tbody>
      {% for task in assigned_tasks %}
         <tr>
            <form action="" method="POST">
               {% csrf_token %}
               <th scope="col">{{ task.task_id.TaskName }}</th>
               <td scope="col">{{ task.task_id.DifficultyLevel }}</td>
               <td scope="col">{{ task.task_id.CoinReward }}</td>
               <td scope="col">{{ task.task_id.XpReward }}</td>
               <td scope="col"> <button type="button" class="btn btn-secondary btn-sm" data-toggle="modal"
                     data-target="#taskModal"
                     onclick="openTaskDescription('{{ task.task_id.TaskName }}', '{{ task.task_id.Description }}')">info</button> </td>

               <!-- submits a form when a task is checked off - may need more data included for this to be practical -->
               <!-- TODO: check this is right? might not be task. -->
               {% if task.completion_status == 1 %}
               <!-- button is disabled, so a task cannot be unchecked. -->
               <td scope="col"> <button type="button" class="btn btn-success btn-sm" disabled> ✅ </button> </td>
               {% else %}
               <td scope="col">
                  <!-- create a form which allows details to be passed to the database on submission -->
                  <form action="/task-complete/" method="POST" name="task-submission">
                  <input type="hidden" name="task_id" value="{{ task.task_id }}" />
                  <button type="submit" name="task-complete" class="btn btn-danger btn-sm"> ✖️ </button> </td>
                  </form>
                  {% endif %}
            </form>
         </tr>
      {% endfor %}
   </tbody>
</table>


<!-- Modal -->
<div class="modal fade" id="taskModal" tabindex="-1" role="dialog" aria-labelledby="taskModalTitle" aria-hidden="true">
   <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
         <div class="modal-header bg-primary text-white">
            <h5 class="modal-title" id="taskModalTitle">Task Description</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body" id="modal-body">
            <!-- this is where the java script changes the task description -->
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
         </div>
      </div>
   </div>
</div>




<!-- this may need to move before endblock, not sure -->
<!-- TODO: create a scripts directory? -->
<script>
   function openTaskDescription(taskName, taskDescription) {
      document.getElementById("modal-body").innerText = taskDescription;
      document.getElementById("taskModalTitle").innerText = taskName;
      $('#taskModal').modal("show");
   }
</script>

{% endblock content %}