{% extends 'index.html' %}
{% load static %}
{% block content %}
 <!--
  ###########################################################################
  #   Author: Luke Clarke
  #   Contributors: Ollie Fitzgerald
  #
  #   The author has written all code in this file unless stated otherwise.
  ###########################################################################
  -->
<!--TODO: Maybe add popup description of each game when clicking?-->
<!--TODO: Show cost of each game-->

<div>
    <h1 class="title">{{ user.username }}'s Games</h1>
    <h2 class="coins">EcoCoins: {{ user_details.total_coins }}</h2>
</div>

<div class="outer-buddy-containter">
    <div class="centered-container" style="height: 300px; ">
    <div id="buddy-container">
        <img src="{% static 'under_my_scrum_brella/' %}{{user_details.buddy_type}}.png" class="absolute-image">
</div></div></div>

<div>
    <h2 style="font-size: 18px;">Cost: {{ game_cost }} EcoCoins</h2>
    <h2 style="font-size: 18px;">Do you want to play noughts and crosses?</h2>
</div>

<div style="justify-content: center; display: flex;" class="buttons" id="login-buttons">
    <a href="{% url 'noughtsAndCrosses' %}" class="login-btn">Play

<script>        
    // Function to display buddy with items on the page
    function displayImages() {
        const wardrobeItems = [
            "{% static 'items/binhatitem.png' %}",
            "{% static 'items/glassesitem.png' %}",
            "{% static 'items/goldmedalitem.png' %}",
            "{% static 'items/rubiishpickeritem.png' %}",
            "{% static 'items/waterbottleitem.png' %}",
            "{% static 'items/partyhatitem.png' %}",
            "{% static 'items/picnicbasketitem.png' %}",
            "{% static 'items/teddybearitem.png' %}",
            "{% static 'items/dressitem.png' %}",
            "{% static 'items/suititem.png' %}",
        ];
        const index_array = JSON.parse('{{ index_array|escapejs }}');
        console.log("items that should be worn "+index_array);
        const container = document.getElementById('buddy-container');
        index_array.forEach((item, index) => {
        const img = document.createElement('img');
        img.src = wardrobeItems[item];
        img.alt = `Wardrobe Item ${index + 1}`;
        img.classList.add('absolute-image');
        container.appendChild(img);
    });
}
window.onload = displayImages;
</script>

{% endblock content %}