{% extends 'index.html' %}
{% load static %}
{% block content %}
        <br>
        {% if user.is_authenticated %}
        <img src="{% static 'under_my_scrum_brella/waterbottleguyanimated.gif' %}" class="responsive-image-left">
        <img src="{% static 'under_my_scrum_brella/batteryguyanimated.gif' %}" class="responsive-image-right">
        <h1>Welcome {{ user.username }}!</h1>
        <p>Thanks for logging in, are you ready for some sustainable fun?!</p>
        {% else %}
        <img src="{% static 'under_my_scrum_brella/waterbottleguyanimated.gif' %}" class="responsive-image-left">
        <img src="{% static 'under_my_scrum_brella/batteryguyanimated.gif' %}" class="responsive-image-right">
        <h1>Welcome to Sustainable Buddies!</h1>
        <section class="hero">
            <h1 id="welcome-message"></h1>
            <div class="buttons" id="login-buttons">
                <a href="{% url 'login' %}" class="login-btn">Log In / Sign Up</a>
            </div>
            <div></div>
            <br>
            <p>At Sustainable Buddies, we believe in the power of collective action to create positive change for our planet. Our platform is designed to empower individuals like you to take meaningful steps towards a more sustainable lifestyle, one task at a time.</p>
            <br>
            <h2>How It Works:</h2>
            <p>Complete Tasks, Earn Coins:
            <br>
            Sign up and browse through a variety of tasks tailored to reduce your environmental footprint. From recycling initiatives to energy-saving challenges, each completed task earns you EcoCoins, our digital currency.
            <br>
            Choose Your Sustainable Buddy:
            <br>
            Sign up today and adopt a buddy - a cute and eco-friendly companion designed to accompany you on your green journey.
            Once you've earned enough EcoCoins, head over to the Shop. Here, you'll find a delightful selection of items for your sustainable buddy!
            <br>
            Make a Difference Together:
            <br>
            Your sustainable buddy isn't just a picture – it's a symbol of your commitment to sustainability. As you care for your buddy and complete sustainable tasks, you'll unlock new items in the shop, all while making a tangible impact on the planet.
            <br>
            </p>
            <h2>Why Sustainable Pets?</h2>
            <p>
            Fun and Engaging:
            <br>
            We believe that sustainability should be enjoyable! Our platform gamifies eco-friendly actions, turning everyday tasks into exciting challenges that you'll love to complete.
            <br>
            Community and Support:
            <br>
            Join a vibrant community of like-minded individuals who share your passion for sustainability. Connect with fellow EcoTaskers, share tips and tricks, and inspire each other to reach new heights.
            <br>
            </p>
            <h2>Join Us Today!
            </h2>
            <br>
            <br>
            <br>
            </div>
            </section>
            {% endif %}
{% endblock content %}
