{% extends 'index.html' %}
{% load static %}
{% block content %}
        <img src="{% static 'under_my_scrum_brella/greenbinguy.png' %}" class="responsive-image-left">
        <img src="{% static 'under_my_scrum_brella/batteryguy.png' %}" class="responsive-image-right">
        <h1>Welcome to Sustainable Pets!</h1>
        <section class="hero">
            <h1 id="welcome-message"></h1>
            <div class="buttons" id="login-buttons">
                <a href="login.html" class="login-btn">Log In / Sign Up</a>
            <div id="user-info" style="display:none;">
                <p>Welcome, <span id="username"></span></p>
                <img src="" alt="User's Pet" id="user-pet-image">
            </div>
        </section>
{% endblock content %}
