{% extends 'index.html' %}
{% load static %}
{% block content %}
 <!--
  ###########################################################################
  #   Author: Oliver Fitzgerald
  #   Contributors: 
  #
  #   The author has written all code in this file unless stated otherwise.
  ###########################################################################
  -->
  <!-- TODO: add css to style sheet -->
<style>
    body {
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 100vh; /* 100% of viewport height */
        /*padding-top: 60px;*/
    }

    .pet-title {
        margin-bottom: 20px;
    }

    .centered-container {
        resize: vertical;
        height: 50vh;
        aspect-ratio: 1/1;
        position: relative;
        /*border: 2px solid #333; */
        box-sizing: border-box;
        /* Include border in total width and height */
    }

    .absolute-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        /* Maintain image aspect ratio while covering the container */
    }


    .full-width-container {
        width: 100%;
        box-sizing: border-box;
        padding: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

</style>

<script>        
    const wardrobeItems = [
    "{% static 'items/binhatitem.png' %}",
    "{% static 'items/glassesitem.png' %}",
    "{% static 'items/goldmedalitem.png' %}",
    "{% static 'items/rubiishpickeritem.png' %}",
    "{% static 'items/waterbottleitem.png' %}"
    ];
    // Function to display images on the page
    function displayImages() {
        const index_array = JSON.parse('{{ index_array|escapejs }}');
        console.log("items that should be worn "+index_array);
        const container = document.getElementById('buddy-container');
        index_array.forEach((item, index) => {
        const img = document.createElement('img');
        img.src = wardrobeItems[item];
        img.alt = `Wardrobe Item ${index + 1}`;
        img.classList.add('absolute-image');
        container.appendChild(img);
    });
}
window.onload = displayImages;
</script>

<body>
<div>
    <h1 class="pet-title">{{ user.username }}'s Buddy</h1>
</div>

<div class="centered-container" style="height: 40vh;">
    <div id="imageContainer">
        <div id="buddy-container"><img src="{% static 'under_my_scrum_brella/'%}{{user_details.buddy_type}}.png" class="absolute-image">
        </div>
</div>
<br>
<div class="full-width-container" style="margin-top: 320px">
<div class="buttons">
    <a href="{% url 'wardrobe' %}" class="login-btn">Wardrobe</a>
    <a href="{% url 'games' %}" class="login-btn">Games</a>
</div>
</div>

</body>

{% endblock content %}