{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'under_my_scrum_brella/styles.css' %}">
</head>
<body>
    <!-- navbar -->
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'friends' %}">Friends</a></li>
                <li><a href="{% url 'shop' %}">Shop</a></li>
                <li><a href="{% url 'tasks' %}">Tasks</a></li>
            </ul>
        </nav>
    </header>

    <!-- signup container -->
    <section class="vh-100">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-md-8">
                    <div class="card shadow-2-strong" style="border-radius: 1rem">
                        <div class="card-body p-5 text-center">

                            <h2 class="text-center mb-5">Signup</h2>

                            <form id="loginForm" class="row">

                                <!-- Left column for username, email, and password -->
                                <div class="col-md-6">

                                    <!-- username input -->
                                    <div class="form-group">
                                        <label for="username" class="mb-0 label-left">Username</label>
                                        <input type="text" class="form-control" id="username" placeholder="Create Username">
                                    </div>

                                    <!-- Email input -->
                                    <div class="form-group">
                                        <label for="email" class="mb-0 label-left">Email</label>
                                        <input type="email" class="form-control" id="email" placeholder="Enter Email">
                                    </div>

                                    <!-- password input -->
                                    <div class="form-group">
                                        <label for="password" class="mb-0 label-left">Password</label>
                                        <div class="input-group">
                                            <input type="password" class="form-control" id="password" placeholder="Create Password">
                                        </div>
                                    </div>

                                    <!-- confirm password -->
                                    <div class="form-group">
                                        <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm Password">
                                    </div>

                                </div> <!-- End of left column -->

                                <!-- Right column for Your Buddy inputs -->
                                <div class="col-md-6">

                                    <div class="form-group">
                                        <label for="buddyName" class="mb-0 label-left">Your Buddy</label>
                                        <input type="text" class="form-control" id="buddyName" placeholder="Buddy Name">
                                    </div>

                                    <div class="form-group">
                                        <select class="form-control" id="buddyType">
                                            <option value="" disabled selected>-- Select a Buddy Type --</option>
                                            <option value="greenbinguy">Green Bin Guy</option>
                                            <option value="batteryguy">Battery Guy</option>
                                            <option value="waterbottleguy">Water Bottle Guy</option>
                                            <option value="treeguy">Tree Guy</option>
                                        </select>
                                    </div>

                                </div> <!-- End of right column -->

                                <button type="submit" class="btn btn-primary btn-block">Signup</button>
                                <p class="text-center mb-1">Already have an account? <a href="{% url 'login' %}">Login</a></p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script>
        document.getElementById("loginForm").addEventListener("submit", function(event) {
            var username = document.getElementById("username").value;
            var email = document.getElementById("email").value;
            var password = document.getElementById("password").value;
            var confirmedPassword = document.getElementById("confirmPassword").value;
            var buddyName = document.getElementById("buddyName").value;
            var buddyType = document.getElementById("buddyType").value;

            if(!username){
                alert("Please enter a username!");
                event.preventDefault(); // Stop form from being submitted
            }
            else if(!email){
                alert("Please enter an email!");
                event.preventDefault();
            }
            else if(!isValidEmail(email)){
                alert("Please enter a valid email!");
                event.preventDefault();
            }
            else if(!password){
                alert("Please enter a password!");
                event.preventDefault();
            }
            else if(password != confirmedPassword){
                alert("Your passwords do not match!");
                event.preventDefault();
            }
            else if(!buddyName){
                alert("Please enter a buddy name!");
                event.preventDefault();
            }
            else if(!buddyType){
                alert("please select a buddy type!");
                event.preventDefault();
            }
            
        });

        function isValidEmail(email){
            var regex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
            return regex.test(email);
        }
    </script>
</body>
</html>
