<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <!-- navbar -->
    <header>
        <nav>
            <ul>
                <li><a href="home.html">Home</a></li>
                <li><a href="friends.html">Friends</a></li>
                <li><a href="shop.html">Shop</a></li>
                <li><a href="tasks.html">Tasks</a></li>
            </ul>
        </nav>
    </header>

    <!-- signup container -->
    <section class="vh-100">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-4 login-container">
          <div class="card shadow-2-strong" style="border-radius: 1rem">
            <div class="card-body p-5 text-center">

                <h2 class="text-center mb-5">Signup</h2>
                    
                <form id="loginForm">

                    <!-- username input -->
                    <div class="form-group">
                        <label for="username" class="mb-0">Username</label>
                        <input type="text" class="form-control" id="username" placeholder="Create Username">
                    </div>
                    
                    <!-- Email input -->
                    <div class="form-group">
                        <label for="email" class="mb-0">Email</label>
                        <input type="email" class="form-control" id="email" placeholder="Enter Email">
                    </div>

                    <!-- password input -->
                    <div class="form-group">
                        <label for="username" class="mb-0">Password</label>
                        <div class="input-group">
                            <input type="password" class="form-control" id="password" placeholder="Create Password">
                        </div>
                    </div>

                    <!-- Confirm password input -->
                    <div class="form-group">
                        <div class="input-group">
                            <input type="password" class="form-control" id="confirm-password" placeholder="Confirm Password">
                            
                            <!-- allows password to be shown if required by the user-->
                            <div class="input-group-append">
                                <button class="btn btn-secondary" type="button" id="togglePassword">Show</button>
                            </div>
                        </div>
                    </div>

                    <hr>    <!-- splits sections of the form up -->

                    <button type="submit" class="btn btn-primary btn-block">Signup</button>
                    <p class="text-center mb1">Already have an account? 
                        <a href="login.html">Login</a>  
                    </p>
                </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Script to show/hide password if required by the user -->
    <script>
        document.getElementById("togglePassword").addEventListener("click", function() {
            var confirmPwdField = document.getElementById("confirm-password");

            if(confirmPwdField.type == "password"){
                this.textContent = "Hide";
                confirmPwdField.type = "text";
            }
            else{
                this.textContent = "Show";
                confirmPwdField.type = "password";
            }
        });
    </script>
</body>
</html>